.card-news {
    a {
        color: #000;

        figure {
            margin-bottom: 10px;

            img {
                vertical-align: middle;
            }
        }

        h3 {
            font-size: 18px;
        }
    }
}