header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        figure {
            margin: 0;
            padding: 0;
        }

        .menu-area {
            .mnu {
                .primary-menu {
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        gap: 10px;

                        >li {
                            height: 60px;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}